.env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/dist/
/vendor/
/manifest/docker/volumes/

.idea/
.vscode/
*.swp
*.swo

/data/
/portal/node_modules/
/portal/dist/
/portal/tsconfig.tsbuildinfo
/docs/
/platform
